body , button {
    user-select:none;
    font-family:'Oxygen Mono', monospace;
}
body {margin:0;}
.navbar {
    background-color: black;
    padding:20px;
}
#comm , #github, #serv , #vote {
    color:white;
    background-color: black;
    font-size:30px;
    border:none;
    user-select:none;
}
#comm:hover , #github:hover, #serv:hover , #vote:hover {
    transition: 0.5s;
    cursor:pointer;
    color:red;
}
#comm:focus , #github:focus, #serv:focus , #vote:focus {
    color:blue;
    font-weight:bold;
}
#thebotsname {
    text-align:center;
    font-size:70px;
    font-weight:bold;
}
#invite {
    background-color:#00ab00;
    border:none;
    color:white;
    text-align:center;
    font-size:30px;
    padding:10px 40px;
}
#invite:hover {
    background-color: red;
    transition: 0.5s;
    transform: translate(0%,5%);
    cursor:pointer;
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0.5);
}
.main {
    background-image:url('https://i.redd.it/y1ostvqnr4711.jpg');
    background-size: cover;
}
footer {
    background-color:black;
    bottom:0%;
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
#copyright , a {
    color:white;
    text-align:center;
}
a:hover {
    transition: 0.5s;
    color:red;
}
.why {
    background-image: url('https://images4.alphacoders.com/909/thumb-1920-909912.png');
    padding:1px;
    color:white;
}
.supp {
    background-image: url('https://id-static.z-dn.net/files/d30/2823a881e2db60d5b58f251fcd4dcd77.png');
    padding:1px;
    background-size:cover;
}
/* i am bad at naming sorry. */
#textinwhy {
    margin-left:10%;
}
#thonk {
    margin-left:70%;
    cursor:help;
    width:225px;
    height:225px;
    position:absolute;
}
#viewcom {
    margin-left:10%;
    background-color:tomato;
    color:white;
    cursor:pointer;
    padding:5px 25px;
    border:none;
    font-size:20px;
}
#viewcom:hover , #server:hover {
    transition: 0.5s;
    transform: translate(0%,5%);
    box-shadow:0px 5px 20px rgba(0, 0, 0, 0.5);
}
#textinsupp {
    color:white;
    text-align:right;
    margin-right:15%;
}
#server {
    cursor:pointer;
    background-color:royalblue;
    color:white;
    padding:5px 25px;
    font-size:20px;
    border:none;
}