#first { background-color: #FFC300; }
#second { background-color: #00931F; text-align: right; }
#third { background-color: #002CA9; }
#four { background-color: #4900FF; text-align: right; }

.flexer {
  color: white;
  display: inline-block;
  padding: 20px;
  border-radius: 5px;
}

.flexer:hover {
  transition: 0.5s linear;
  transform: scale(1.2);
}

html {
  font-family: Comic Sans;  
}

.entity-header__image {
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.entity-header__image:hover {
  transition: 0.3s linear;
  border: 2px solid red;
}

.entity-header__button-text::before {
  content: "Please ";
}

.review__username::before {
  content: "It's ya boi ";
}

li:nth-child(2) a::before {
  content: "Go ";
}

b:nth-child(1)::before {
  content: "-";
}

b:nth-child(2)::before {
  content: "-";
}

b:nth-child(1)::after {
  content: "k";
}

b:nth-child(2)::after {
  content: "k";
}

li:nth-child(3) a::before {
  content: "Don't ";
}

.entity-sidebar__title::before {
  content: "Hey, look at this ";
}

.entity-table__cell:nth-child(4)::before {
  content: "-";
}

.entity-tag .no-link::before {
  content: "#";
}

.entity-header__image , .logo img , i , .profile-avatar , .mobile-logo img , #menu-trigger {
  animation-name: youSpinMeRightRoundBabyRightRoundLikeARecordBabyRightRoundRoundRound;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes youSpinMeRightRoundBabyRightRoundLikeARecordBabyRightRoundRoundRound {
  from {
    transform: rotate(-360deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

.entity-header__name::before {
  content: "The Almighty ";
}
