/* 
    MAIN SOURCE CODE OF THE TOP.GG PAGE
    https://top.gg/bot/696973408000409626
*/

body {
	background-image: url('https://id-static.z-dn.net/files/d93/d299c2fa6770e3061e085cbb931e689d.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	color: white;
}
.bot-name {
	color: white;
    font-family: "Roboto", sans-serif;
}
#menu {
	background-color: black;
	color: white;
	font-family: "Roboto", sans-serif;
}
.columns .bot-img {
	border-radius: 50%;
	border: 5px solid white;
}
.columns .bot-img:hover {
	transition: 0.5s;
	transform: scale(1.05);
	cursor: pointer;
	border: 5px solid red;
}
.atag::after {
	display: none;
}
.votebutton , #websitelink , #support , #github , .atag {
	background-color: red;
	color: white;
	border-radius: 15px;
}
#report {
	background-color: black;
	color: white;
}
.votebutton:hover , #websitelink:hover , #support:hover , #github:hover , .atag:hover {
	transition: 0.5s;
	transform: scale(1.03);
    background-color: green;
}
#report:hover {
	background-color: red;
	color: white;
}
#upvotebutton {
	background-color: white;
	border: 2px solid white;
}
a {
	color: #46CAFF;
	text-decoration: underline;
}
a:hover {
	transition:0.3s;
	color: red;
}
p , h1 , strong {
	color: white;
	font-family: "Roboto", sans-serif;
}
.bot-description {
	color: white;
	font-family: "Roboto", sans-serif;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
code {
	background-color: black;
	color: red;
	font-weight: bold;
	font-family: monospace;
}
.longdescription .content {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: "Roboto", sans-serif;
}
