<!DOCTYPE html>
<html>
  <meta property="og:site_name" content="undefined">
  <meta property="og:url" content="https://601.vierofernando.repl.co/">
  <meta property="og:title" content="nowhere">
  <meta property="og:description" content="welcome to nowhere">
  <meta property="og:type" content="website">
  <meta name="theme-color" content="#000001">
  <head>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Consolas'>
    <style>
      html,body {width: 100%; height: 100%; background-color: #222; margin: 0; overflow: hidden;}
      #code { width: 100%; height: 100%; font-family:consolas, monospace; color: white; padding: 20px;}
    </style>
  </head>
  <body>
    <p id='code'></p>
    <script src='/raw/codeAnimation.js'></script>
  </body>
</html>