<!DOCTYPE html>
<html>
    <meta property="og:site_name" content="username601's commands list">
    <meta property="og:url" content="https://601.vierofernando.repl.co/commands">
    <meta property="og:title" content="username601">
    <meta property="og:description" content="lmao when you are too lazy to use the 1help command">
    <meta property="og:type" content="website">
    <meta name="og:image" itemprop="image" content="https://raw.githubusercontent.com/vierofernando/username601/master/assets/pics/pfp.png">
    <meta name="theme-color" content="#C9A070">
    <title>Bot commands list (for dummies)</title>
    <head>
        <link rel="stylesheet" href="/raw/commands.css">
    </head>
    <body>
        <div id="main">
            <div id="categoryList"></div>
            <div id="displayCommandsList"></div>
        </div>
        <script src="/raw/commands.js"></script>
        <script>
const categoryElement = document.getElementById("categoryList");
let handler = new categoryHandler(`%COMMANDS%`, `%CATEGORIES%`);
let categoryNames = `%CATEGORIES%`;
let categoryButtons = [];
let categoryButtonIndex = 0;

categoryNames.forEach(name => {
    const button = new CategoryButton(name);
    categoryElement.appendChild(button.element);
    categoryButtons.push(button);
    button.element.setAttribute("onmouseover", `handler.hoverEvent(${categoryButtonIndex});`);/*
    button.element.setAttribute("onmouseleave", `handler.leaveEvent(${categoryButtonIndex});`);*/
    button.element.setAttribute("onclick", `handler.clickEvent(${categoryButtonIndex});`);
    categoryButtonIndex++;
});

handler.categoryButtons = categoryButtons;
        </script>
    </body>
</html>