<!DOCTYPE html>
<html>
  <meta property="og:site_name" content="username601's commands list">
  <meta property="og:url" content="https://601.vierofernando.repl.co/commands">
  <meta property="og:title" content="username601">
  <meta property="og:description" content="lmao when you are too lazy to use the 1help command">
  <meta property="og:type" content="website">
  <meta name="og:image" itemprop="image" content="https://raw.githubusercontent.com/vierofernando/username601/master/assets/pics/pfp.png">
  <meta name="theme-color" content="#C9A070">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="icon" type="image/png" href="/raw/favicon.ico">
    <link rel="stylesheet" href="/raw/commands.css">
    <link rel="stylesheet" href="/raw/global.css">
  </head>
  <body>
    <div class='top'>
      <button id='navbarButton' onclick="redirectTo('');">Home</button>
      <button id='navbarButton' onclick="redirectTo('commands');">Commands</button>
      <button id='navbarButton' onclick="redirectTo('invite');">Invite</button>
      <button id='navbarButton' onclick="redirectTo('support');">Support</button>
    </div>
    <div id='left' class='leftright'></div>
    <div id='right' class='leftright'>
      <null>Welcome to the commands list<br>Please click the categories to view the commands.</null>
    </div>
    <somebody><once><told><me>hands off my macaroni</me></told></once></somebody>
    <script src="/raw/commands.js"></script>
  </body>
</html>