<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="/raw/commands.css">
  <link rel="stylesheet" href="/raw/global.css">
  </head>
  <body>
  <div class='top'>
    <button id='navbarButton' onclick="redirectTo('');">Home</button>
    <button id='navbarButton' onclick="redirectTo('commands');">Commands</button>
    <button id='navbarButton' onclick="redirectTo('invite');">Invite</button>
    <button id='navbarButton' onclick="redirectTo('support');">Support</button>
  </div>
  <div id='left' class='leftright'></div>
  <div id='right' class='leftright'>
    <null>Welcome to the commands list<br>Please click the categories to view the commands.</null>
  </div>
  <somebody><once><told><me>hands off my macaroni</me></told></once></somebody>
  <script src="/raw/commands.js"></script>
  </body>
</html>