<!DOCTYPE html>
<html lang="en" style="background-image: url('https://source.unsplash.com/1366x768/?nature'); overflow: hidden;">
  <head>
    <script src="/raw/index.js"></script>
    <link rel="stylesheet" href="/raw/global.css">
    <link rel="stylesheet" href="/raw/index.css">
  </head>
  <body onload="init();">
    <div class='top'>
      <button id='navbarButton' onclick="redirectTo('');">Home</button>
      <button id='navbarButton' onclick="redirectTo('commands');">Commands</button>
      <button id='navbarButton' onclick="redirectTo('invite');">Invite</button>
      <button id='navbarButton' onclick="redirectTo('support');">Support</button>
    </div>
    <div id="imageOverlay"></div>
    <div id="botName">username601</div>
	<div id="botAccurateDescription">loading cool description...</div>
	<button id="inviteBotum">Invite the bot!</button>
	<div id='flex'></div>
  <ul>
	  <li><a href="commands">Commands</a></li>
	  <li><a href="invite">Invite</a></li>
	  <li><a href="support">Discord Server</a></li>
	  <li><a href="api">API</a></li>
	  <li><a href="https://github.com/vierofernando/username601/">GitHub</a></li>
	</ul>
  </body>
</html>