#mainBigText {
    font-weight: bold;
    text-align: center;
    font-size: 400%;
    user-select: none;
    margin-top: 70px;
}

#buttonHome {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding: 10px 0px 20px 0px;
    text-align: center;
    border-radius: 50px 50px 0px 0px;
}

#inviteButton {
    font-size: 230%;
    border: none;
    padding: 10px 30px;
    user-select: none;
    border-radius: 50px;
    outline: none;
    user-select: none;
}

#flexer {
    user-select: none;
    text-align: center;
}

#flexerSections {
    display: inline-block;
    padding: 20px;
}

flexerElement {
    padding: 50px;
    font-size: 230%;
    font-weight: bold;
}

flexerDesc {
    font-size: 150%;
}

#commandsBoard {
    border-radius: 0px 0px 50px 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

#commandsTitle {
    font-weight: bold;
    text-align: center;
    font-size: 200%;
    padding: 20px 0px;
}

#categorySection {
    padding: 10px 0px 10px 20px;
    font-weight: bold;
    font-size: 150%;
}

#commandDiv {
    user-select: none;
    padding: 10px 0px 10px 10px;
    margin-right: 20px;
}

commanddesc {
    font-weight: normal;
    font-size: 65%;
}

commandsubfont {
    font-size: 55%;;
}

codeblock {
    padding: 10px 5px;
    display: block;
    font-size: 60%;
    font-family: 'consolas', 'consola', monospace;
    color: white;
    background-color: #333;
    margin-right: 10px;
}

#linkText {
    font-family: 'consolas', 'consola', monospace;
    font-size: 60%;
    color: #00eeff;
    text-decoration: underline;
}

#linkText:hover {
    transition: 0.3s linear;
    color: red;
}