<!DOCTYPE html>
<html>
    <!--
        THIS WEBSITE IS WRITTEN ENTIRELY IN JAVASCRIPT AND CSS.
        NO HTML.
        LOOK AT INDEX.JS IF YOU DON'T TRUST ME X)

        - THE BRUNK DEVELOPER -
-->
    <head></head>
    <body id="body"></body>
    <script src="src/handler.js"></script>
    <script src="src/constants.js"></script>
    <script src="src/command.js"></script>
    <script src="src/index.js"></script>
    <script>
        web.usingCSS("src/index.css");
        
        loadFlex({
            Servers: SERVER_COUNT,
            Users: USERS_COUNT,
            Uptime: UPTIME
        });
        const cmds = new CommandManager(web, COMMANDS_LIST);
    </script>
</html>