<!DOCTYPE html>
<html>
    <!--
        THIS WEBSITE IS WRITTEN ENTIRELY IN JAVASCRIPT AND CSS.
        NO HTML.
        LOOK AT INDEX.JS IF YOU DON'T TRUST ME X)

        - THE BRUNK DEVELOPER -
-->
    <head></head>
    <body id="body"></body>
    <script src="src/handler.js"></script>
    <script src="src/constants.js"></script>
    <script src="src/changelog.js"></script>
    <script src="src/command.js"></script>
    <script src="src/navbar.js"></script>
    <script>
        CHANGELOG = '${CHANGELOG}';
    </script>
    <script src="src/index.js"></script>
    <script>
        try {
            document.addEventListener('contextmenu', event => event.preventDefault());
            
            web.usingCSS("src/index.css");

            loadFlex({
                "Served Servers": SERVER_COUNT,
                "Seen Users": USERS_COUNT,
                "Economy Profiles": ECONOMIES,
                "Server Configurations": DASHBOARDS,
                "Uptime": UPTIME
            });
            const cmds = new CommandManager(web, COMMANDS_LIST);
        } catch (e) {
            alert("There is something wrong happening with loading the JavaScript files! Try enabling JavaScript, or refresh the page.");
            window.close();
        }
    </script>
</html>